<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "member/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>
  <marquee behavior="scroll" direction="left">
    <img src="{% static "images/b1.png" %}" width="120" height="80" />
    <img src="{% static "images/b2.png" %}" width="120" height="80" />
    <img src="{% static "images/b4.png" %}" width="120" height="80" />
    <img src="{% static "images/b7.png" %}" width="120" height="80" />
    <img src="{% static "images/b6.png" %}" width="120" height="80" />
    <img src="{% static "images/b5.png" %}" width="120" height="80" />
    <img src="{% static "images/b2.png" %}" width="120" height="80" />
    <img src="{% static "images/b1.png" %}" width="120" height="80" />
    <img src="{% static "images/b7.png" %}" width="120" height="80" />
    <img src="{% static "images/b4.png" %}" width="120" height="80" />
    <img src="{% static "images/b5.png" %}" width="120" height="80" />
    <img src="{% static "images/b6.png" %}" width="120" height="80" />
  </marquee>
  {% include "member/footer.html" %}
</body>

</html>
